.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.block {
  display: grid;
  gap: 50px;
  grid-template-columns: 300px 300px;
  grid-template-rows: 350px 350px;
  list-style: none;
  max-width: 900px;
  padding: 20px;
 
}

.text {
  margin: 0;
  font-family: "Vivaldi";
  font-weight: 200;
  font-size: 35px;
  line-height: 35px;
  text-align: center;
  color: #fff
}

.image {
  width: 300px;
}

.button {
  cursor: pointer;
}

.button:hover {
  opacity: .7;
  transition: opacity .3s linear 0s;
}

@media screen and (max-width: 1279px) {
  .text {
    font-size: 35px;
    line-height: 35px;
  }
  .block {
    gap: 50px;
    grid-template-columns: 300px 300px;
    grid-template-rows: 350px 350px;
  }
  .image {
    width: 300px;
  }
}

@media screen and (max-width: 1023px) {
  .text {
    font-size: 35px;
    line-height: 35px;
  }
  .block {
    gap: 40px;
    grid-template-columns: 250px 250px;
    grid-template-rows: 300px 300px;
  }
  .image {
    width: 250px;
  }
}

@media screen and (max-width: 767px) {
  .text {
    font-size: 30px;
    line-height: 30px;
  }
  .block {
    gap: 30px;
    grid-template-columns: 200px 200px;
    grid-template-rows: 250px 250px;
  }
  .image {
    width: 200px;
  }
}

@media screen and (max-width: 479px) {
  .text {
    font-size: 25px;
    line-height: 25px;
  }
  .block {
    gap: 20px;
    grid-template-columns: 150px 150px;
    grid-template-rows: 200px 200px;
  }
  .image {
    width: 150px;
  }
}