.about {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text {
    text-align: center;
    font-family: "Vivaldi";
  font-weight: 400;
  font-size: 50px;
  line-height: 55px;
  color: #fff
}

@media screen and (max-width: 1279px) {
  .text {
    font-size: 50px;
    line-height: 55px;
  }
}

@media screen and (max-width: 1023px) {
  .text {
    font-size: 45px;
    line-height: 50px;
  }
  .about {
    padding: 0 30px 0 30px;
  }
}

@media screen and (max-width: 767px) {
  .text {
    font-size: 40px;
    line-height: 45px;
  }
}

@media screen and (max-width: 479px) {
  .text {
    font-size: 30px;
    line-height: 35px;
  }

  .gallery {
    width: 350px;
  }
}