.about {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text {
    text-align: center;
    font-family: "Vivaldi";
  font-weight: 400;
  font-size: 50px;
  line-height: 55px;
  color: #fff
}