.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-self: center;
  justify-content: center;
  background-image: url("../../images/background.jpg");
  background-size: contain;
}
