.text {
    cursor: pointer;
    margin: 0;
    margin-left: 40px;
    margin-top: -40px;
    font-family: "Vivaldi";
  font-weight: 400;
  font-size: 30px;
  line-height: 55px;
  color: #fff
}

.headText {
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-family: "Vivaldi";
  font-weight: 400;
  font-size: 50px;
  line-height: 55px;
  color: #fff
}

.description {
    margin: 0px;
    padding: 10px 60px 10px 60px;
    text-align: center;
    font-family: "Vivaldi";
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  color: #fff
}