.text {
  cursor: pointer;
  margin: 0;
  margin-left: 40px;
  margin-top: -40px;
  font-family: "Vivaldi";
  font-weight: 400;
  font-size: 30px;
  line-height: 55px;
  color: #fff;
}

.headText {
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
  font-family: "Vivaldi";
  font-weight: 400;
  font-size: 50px;
  line-height: 55px;
  color: #fff;
}

.description {
  margin: 0px;
  padding: 10px 60px 10px 60px;
  text-align: center;
  font-family: "Vivaldi";
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  color: #fff;
}

@media screen and (max-width: 1279px) {
  .text {
    font-size: 30px;
    line-height: 55px;
  }
  .headText {
    font-size: 50px;
    line-height: 55px;
  }
  .description {
    font-size: 30px;
    line-height: 35px;
  }
}

@media screen and (max-width: 1023px) {
  .text {
    font-size: 30px;
    line-height: 55px;
  }
  .headText {
    font-size: 45px;
    line-height: 50px;
  }
  .description {
    font-size: 30px;
    line-height: 35px;
  }
}

@media screen and (max-width: 767px) {
  .text {
    font-size: 25px;
    line-height: 30px;
  }
  .headText {
    font-size: 40px;
    line-height: 45px;
  }
  .description {
    font-size: 25px;
    line-height: 30px;
  }
}

@media screen and (max-width: 479px) {
  .text {
    font-size: 20px;
    line-height: 25px;
  }
  .headText {
    font-size: 35px;
    line-height: 40px;
  }
  .description {
    font-size: 20px;
    line-height: 25px;
  }
}
