.header {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text {
  text-align: center;
  font-family: "Vivaldi";
  font-weight: 400;
  font-size: 50px;
  line-height: 55px;
  color: #fff
}

.phone {
  margin-top: 0;
  font-family: "Vivaldi";
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #fff
}

.contactLinks {
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
}

.links {
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 12px;
    display: flex;
    text-align: left;
    font: 20px/1.3 var(--font-family-pt-sans);
    color: var(--black-100);
  }
  
  .link {
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    color: var(--black-100);
  }
  
  .link:hover {
    opacity: .3;
    transition: opacity .3s linear 0s;
  }
  
  .icon {
    padding: 0;
    width: 40px;
    height: 40px;
    margin: 0 8px 0 0;
  }

@media screen and (max-width: 1279px) {
    .text {
      font-size: 50px;
      line-height: 55px;
    }
    .phone {
      font-size: 40px;
      line-height: 40px;
    }
    .icon {
      width: 40px;
      height: 40px;
    }
}

@media screen and (max-width: 1023px) {
  .text {
    font-size: 45px;
    line-height: 50px;
  }
  .phone {
    font-size: 35px;
    line-height: 35px;
  }
  .icon {
    width: 35px;
    height: 35px;
  }
}

@media screen and (max-width: 767px) {
  .text {
    font-size: 40px;
    line-height: 45px;
  }
  .phone {
    font-size: 30px;
    line-height: 30px;
  }
  .icon {
    width: 30px;
    height: 30px;
  }
}

@media screen and (max-width: 479px) {
  .text {
    font-size: 35px;
    line-height: 35px;
  }
  .phone {
    font-size: 25px;
    line-height: 25px;
  }
  .icon {
    width: 25px;
    height: 25px;
  }
}