.about {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  max-width: 900px;
  padding: 20px;
  font-family: "Vivaldi";
  font-weight: 400;
  font-size: 50px;
  line-height: 55px;
  text-align: center;
  color: #fff;
}

@media screen and (max-width: 1279px) {
  .text {
    font-size: 50px;
    line-height: 55px;
  }
}

@media screen and (max-width: 1023px) {
  .text {
    font-size: 40px;
    line-height: 45px;
  }
}

@media screen and (max-width: 767px) {
  .text {
    font-size: 30px;
    line-height: 35px;
  }
}

@media screen and (max-width: 479px) {
  .text {
    font-size: 25px;
    line-height: 30px;
  }
}
