.about {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
  max-width: 900px;
  padding: 20px;
  font-family: "Vivaldi";
  font-weight: 400;
  font-size: 50px;
  line-height: 55px;
  text-align: center;
  color: #fff
}